* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.col-12 {
  padding: 0px;
}

.img {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0px;
}

p {
  margin: 0;
}

a {
  color: #000;
}

.row {
  margin: 0px;
}

.container-fluid {
  padding: 0px;
}

.res {
  font-size: 25px;
  padding: 30px 15px;
}

.clearFocus:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #404040;
}

.minHeight {
  min-height: 45rem;
}

nav {
  background-color: #404040 !important;
  color: #fff;
}

nav a {
  color: #fff;
}

nav a:hover {
  color: silver;
}

.searchMenu {
  padding-top: 2.25rem;
  text-align: center;
  padding-bottom: 10px;
}

.searchMenu i {
  font-size: 20px;
  cursor: pointer;
}

.searchMenu input {
  color: #fff;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  width: 70%;
  position: relative;
}

#menuForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#searchResult {
  position: absolute;
  right: 3rem;
  left: 3rem;
  top: 73%;
  max-height: 300px;
  overflow-y: scroll;
  width: 65%;
  margin: 0px auto;
  z-index: 990;
  border: 2px solid #404040;
}

@media screen and (max-width: 992px) {
  #searchResult {
    left: 0;
    right: 0;
    top: 93%;
    width: 75%;
  }
}

#searchResult ul {
  background-color: #fff;
}

#searchResult ul li {
  padding: 10px;
  border-bottom: 2px solid #404040;
}

#searchResult ul li a {
  color: #404040;
}

.md-form input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.fixedMenu {
  position: fixed;
  width: 100%;
  top: 0;
  right: -100%;
  height: 100vh;
  background: #404040;
  overflow-y: auto;
  z-index: 998;
  -webkit-animation: slideMenu .8s forwards;
          animation: slideMenu .8s forwards;
}

@-webkit-keyframes slideMenu {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes slideMenu {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

.menu li {
  display: inline-block;
  padding: 0px 10px;
  padding-top: 12px;
}

.menu li:hover #submenu {
  display: block;
}

@media screen and (max-width: 992px) {
  .menu li {
    display: block;
    text-align: center;
  }
  .menu li:first-child {
    margin-top: 10vh;
  }
}

.menu li a {
  font-size: 25px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .menu li a {
    font-size: 20px;
  }
}

#submenu {
  position: absolute;
  top: 45px;
  background-color: #404040;
  left: 0;
  padding: 10px;
  z-index: 999;
  width: 120px;
  display: none;
}

#submenu li {
  padding-top: 5px;
}

@media screen and (max-width: 1200px) {
  #submenu {
    top: 40px;
  }
}

@media screen and (max-width: 992px) {
  #submenu {
    display: block;
    text-align: center;
    position: relative;
    top: 0;
    padding: 0px;
    width: 100%;
    margin-bottom: 20px;
  }
  #submenu li {
    margin-top: 0px;
  }
}

#closeBtn {
  position: absolute;
  top: 20px;
  display: none;
  right: 40px;
}

@media screen and (max-width: 992px) {
  #closeBtn {
    display: block;
  }
}

.strelica {
  font-size: 30px;
  width: 4%;
}

.strelica:hover {
  background-color: rgba(64, 64, 64, 0.3);
}

.naslov {
  color: #fff;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  left: 0;
}

.naslov h2 {
  font-size: 40px;
}

.naslov a {
  color: #fff;
}

.naslov a:hover {
  text-decoration: underline;
}

.side {
  border: 2px solid black;
}

.sidePanel {
  border: 2px solid #000;
}

.slika {
  background-size: cover;
  height: 50vh;
  position: relative;
  background-position: center;
}

.cat {
  font-size: 14px;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f7ae45 !important;
}

.post-details {
  font-size: 15px;
  padding: 10px;
}

.card-title a:hover {
  color: #ec5050;
}

.news-details {
  font-size: 12px;
}

.readNews {
  background-color: #404040 !important;
  position: relative;
}

.readNews::after {
  content: "Pogledaj vest";
  -webkit-transition: .5s;
  transition: .5s;
  width: 0%;
  padding: inherit;
  position: absolute;
  opacity: 0;
  background-color: #f7ae45 !important;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.readNews:hover:after {
  width: 100%;
  opacity: 1;
}

.popularLink:hover {
  color: #ec5050;
}

.socialMedia i {
  font-size: 45px;
  margin: 0px 10px;
  color: #404040;
}

.socialMedia i:hover {
  color: #f7ae45;
}

footer {
  background-color: #404040;
  color: #fff;
}

footer i {
  font-size: 40px;
  margin: 20px;
  color: #fff;
}

footer i:hover {
  color: #f7ae45;
}

.nav-tabs {
  background-color: #f7ae45;
}

.nav-tabs a {
  color: #fff;
}

.buttonCustom {
  background-color: #404040 !important;
  color: #fff !important;
}

.closeBtn {
  background-color: #ec5050 !important;
  color: #fff !important;
}

.form-control {
  border: none;
  border-bottom: 2px solid #404040;
  border-radius: 0px;
}

.form-control[readonly] {
  background-color: transparent;
}

.inputError {
  border-bottom: 2px solid #ec5050;
}

.comment {
  border-bottom: 1px solid #404040;
}

.reply {
  padding-left: 4.5rem !important;
}

.comDate {
  margin-top: 20px;
  bottom: 5px;
  right: 0px;
}

.deleteComm {
  top: 5%;
  font-size: 20px;
  right: 10px;
  cursor: pointer;
}

.categoryNews {
  border: 1px solid #404040;
}

.categoryNews a:hover {
  color: #404040;
}

.categoryActive {
  background-color: #f7ae45;
}

.categoryActive a {
  color: #fff;
}

.catchx {
  display: none;
}

.response {
  padding-left: 50px !important;
}

.relatedNews {
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.relatedNews a:hover {
  color: #ec5050;
}

.commentArea {
  border: 2px solid #404040;
  resize: none;
  width: 100%;
  padding: 15px;
}

.noNews {
  height: calc(88vh - 250px);
}

.singleNewsContainer {
  min-height: 580px;
}

.page-link {
  font-size: 20px !important;
}

.pagination.pg-amber .page-item.active .page-link {
  background-color: #f7ae45 !important;
}

#tagNewsCount {
  font-size: 25px;
  padding-left: 10px;
  margin: 0px;
}

.tabs {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-link {
  border-radius: 0px !important;
}

.changeInfo {
  cursor: pointer;
}

.activeInfo {
  border-bottom: 2px solid #f7ae45;
}

.activeInfo:hover {
  border-bottom: 2px solid #f7ae45;
}

.col-form-label {
  line-height: 2.3;
}

.textareaCustom {
  width: 100%;
  resize: none;
}

#alertMsg {
  position: fixed;
  top: -500px;
  z-index: 997;
  left: 0;
  right: 0;
}

.slideAlert {
  -webkit-animation: alert 1s forwards;
          animation: alert 1s forwards;
}

@-webkit-keyframes alert {
  0% {
    top: -500px;
  }
  100% {
    top: 15%;
  }
}

@keyframes alert {
  0% {
    top: -500px;
  }
  100% {
    top: 15%;
  }
}

.table td {
  font-size: 18px;
}

@media screen and (max-width: 1150px) {
  .table td {
    font-size: 16px;
  }
}

.changeNewsLinks {
  text-decoration: underline;
  font-size: 18px;
}

.changeNewsLinks:hover {
  color: #ec5050;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */